* { box-sizing:border-box; margin:0; outline:none; padding:0; }

body { background:#fff; color:#555; font:14px/20px 'Microsoft YaHei', Arial, Helvetica, sans-serif; }

/**
 * Frame
 */
body > .wrapper { position:relative; }
body > .header-wrapper { height:50px; left:0; position:fixed; top:0; width:100%; z-index:3; }
body > .header-wrapper .header {}
body > .header-wrapper .header .logo { float:left; }
body > .header-wrapper .header .main-menu { float:left; }
body > .header-wrapper .header:after { clear:both; content:''; display:table; height:0; }
body > .main-wrapper { position:relative; z-index:2; }
body > .main-wrapper > .left { background:#F1F1F1; height:100%; left:0; position:fixed; top:50px; width:280px; }
body > .main-wrapper > .main { margin:50px 0 0 280px; }
body > .footer-wrapper { margin:0 0 0 280px; position:relative; z-index:3; }

/**
 * Main menu
 */
.main-menu > ul li { list-style:none; position:relative; }
.main-menu > ul li a { display:block; text-decoration:none; }
.main-menu > ul li a span { display:block; }
.main-menu > ul li ul { position:absolute; }
.main-menu > ul > li { float:left; } /* level 1 */
.main-menu > ul > li > a { padding:5px 10px; }
.main-menu > ul:after { clear:both; content:''; display:table; height:0; }
